<div class="container-fluid">
  <!-- app table -->
  <div class="row">
     {{timeline-view parent-id="containers-timeline-div" my-id="timeline-view" height="400" rmModel=model.rmContainers tsModel=model.tsContainers label="shortAppAttemptId" attemptModel=false}}
  </div>
</div>

{{outlet}}