<div class="container-fluid">
  <!-- app table -->
  <div class="row">
     {{timeline-view parent-id="containers-timeline-div" my-id="timeline-view" height="400" model=model.containers label="shortAppAttemptId" attemptModel=true}}
  </div>
</div>

{{outlet}}